                </div>
                <footer>
                    <div class="container">
                        <div class="footer-navbar">
                            <a href="/">&copy Fox Trade. All rights reserved. |</a>
                            <a href="/policy">t&c</a>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <script src="/fonts/js/all.js"></script>
        <script src="/script/dropdown.js"></script>
        <script src="/script/alert.js"></script>
    </body>
</html>