        </div>
        <footer class="footer fadeInRight wow" style="visibility: visible;">
            <div class="container">
                <div class="footer-navbar">
                    <a href="/">&copy Fox Trade. All rights reserved. |</a>
                    <a href="/policy">t&c</a>
                </div>
            </div>
        </footer>
        <script src="/fonts/js/all.js"></script>
        <script src="/script/alert.js"></script>
        <script type="text/javascript">
        
            var allImages = [ 
                'url(/images/bitcoin.jpeg)',
                'url(/images/cryptocurrencies.jpg)',
                'url(/images/logo.jpg)'
            ],
            startPosition = 0,
            interval = setInterval(imageSlide, 5000),
            imageHandler = document.querySelector("header");  
            //Image slider
            function imageSlide() {
                //change the backgroundImage to the array of allImages
                imageHandler.style.backgroundImage = allImages[startPosition],
                //increments the counter
                startPosition++;
                //repeat the loop
                if(startPosition >= allImages.length){
                    startPosition = 0;
                }
            };
        </script>
    </body>
</html>