<%- include ("../partials/head") %>
<div class="section">
    <p class="section-header">new investment</p>
    <div class="form-bg">
        <div class="form-main">
            <div class="form-content">                                   
                <p class="form-p">Gold Plan Deposit</p>
                <hr class="hr-form">
                <h4>Minimium Investment:  $3100</h4>
                <h4>Maximium Investment: $8000</h4>
                <hr class="hr-form">
                <h4>Your Investment request was delivered successfully. Please make your payment to the bitcoin wallet address below.</h4>
                <div class="form-div">1GUYVr3TrPMyRAb9ZNt8HANVbYntaorAaR</div>
                <hr class="hr-form">
                <a href="/dashboard" class="button-main button-form"><i class="fas fa-home"></i></a>
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/foot") %>