<%- include ("partials/header") %>
<h3>about us</h3>
                        <div class="intro-ul">
                            <ul>
                                <li><a class="button-complete href="><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-twitter"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-instagram"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-linkedin"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container">
                <section>
                    <div class="about">
                        <div class="about-text tada wow">
                            <h2>About</h2>
                            <p>Crypto Exchange is a UK-based investment manager with offices in USA, Sweden, Kuwait, and South Africa. We are a dynamic group whose main focus is to provide our clients with the best possible service, We apply a systematic and quantitative approach to investment management, with the aim of generating high-quality and diversifying alpha for its clients’ portfolios.</p>
                            <p>Crypto Exchange Trade is a top, secured and profitable option for you. Part of Crypto Exchange is the team of professional traders focusing mainly on Bitcoin and other cryptocurrencies trading over multiple Exchanges and markets. Thanks to the extraordinary diversification of our finances, we can deliver steady returns for our investors.</p>
                            <p>Crypto Exchange is a profitable and Trusted investment program, established by a strong team of highly skilled traders and investment consultants in the offline and online investment market. We put your investments in new highly remunerative innovative projects, which offers great returns along. Today our company has a professional team to develop a business. We know how much, where and when to put your investments. And we know how to achieve maximum income. We are constantly diversifying our investment portfolio and building stronger connections worldwide.</p>
                            <p>When one opportunity fails you can be rest assured that our strategy of diversification continues to keep our business profitable and growing. You have the opportunity right now to join a revolutionary investing opportunity that is sure to continue growing and mature into the most successful high yield opportunity today. Our Support Department is at your disposal 24 hours a day, 7 days a week, All you need to do is to make a deposit through our Bitcoin wallet and get in from time to time to withdraw profit.</p>
                            <p>We make use of up-to-date anti-hacker technologies, to safely receive your deposit and pay out profits, Join Crypto Exchange today and Let your money work for you, If you have any problems or further questions you are most welcome to contact us through our contact channels.</p>
                        </div>
                    </div>
                </section>
            </div>
            <!--…-->
            <%- include ("partials/footer") %>