<%- include ("partials/header") %>
<h3>contact us</h3>
<div class="intro-ul">
    <ul>
        <li><a class="button-complete href="><i class="fab fa-facebook-f"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-twitter"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-instagram"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-linkedin"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-whatsapp"></i></a></li>
    </ul>
</div>
</div>
</div>
</div>
</header>
<div class="container">
<div class="form-bg tada wow">
<div class="form-main">
<div class="form-contact">
<form action="">
    <div class="form-control">
        <label for="">Full Name</label>
        <input type="text" name="" value="">
    </div>
    <div class="main-input">
        <div class="form-control">
            <label for="">Email</label>
            <input type="text" name="" value="">
        </div>
        <div class="form-control">
            <label for="">Phone</label>
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="form-control">
        <label for="">Message</label>
        <textarea name=""></textarea>
    </div>
    <button type="submit" class="button-main button-form"><i class="fas fa-paper-plane"></i></button>
</form>
</div>
</div>
</div>
<%- include ("partials/footer") %>