<%- include ("partials/header") %>
<h1>get a 100% bonus <br>
    on first deposit
</h1>
<h3>Fox Trade trade is your best finance partner in our world of Cryptocurrency.<br>
    With our advances management services, success is doubtless.<br>
    invest with us today,<br>
    let your money do the hardwork.
</h3>
<% if(!currentUser){ %>
    <a href="/register" class="button-complete">Sign up for free</a>
<% } else { %>
    <a href="/dashboard" class="button-complete">deposit</a>
<% } %>
<div class="intro-ul">
    <ul>
        <li><a class="button-complete href="><i class="fab fa-facebook-f"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-twitter"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-instagram"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-linkedin"></i></a></li>
        <li><a class="button-complete href="><i class="fab fa-whatsapp"></i></a></li>
    </ul>
</div>
</div>
</div>
</header>
<div>
<div class="container">
<section>
<div class="about zoomIn wow">
    <div class="about-text fadeInLeft wow">
        <h2>About</h2>
        <p>Fox Trade is a UK-based investment manager with offices in USA, Sweden, Kuwait, and South Africa. We are a dynamic group whose main focus is to provide our clients with the best possible service, We apply a systematic and quantitative approach to investment management, with the aim of generating high-quality and diversifying alpha for its clients’ portfolios.</p>
        <p>Fox Trade Trade is a top, secured and profitable option for you. Part of Fox Trade is the team of professional traders focusing mainly on Bitcoin and other cryptocurrencies trading over multiple Exchanges and markets. Thanks to the extraordinary diversification of our finances, we can deliver steady returns for our investors.</p>
        <p>Fox Trade is a profitable and Trusted investment program, established by a strong team of highly skilled traders and investment consultants in the offline and online investment market. We put your investments in new highly remunerative innovative projects, which offers great returns along. Today our company has a professional team to develop a business. We know how much, where and when to put your ...</p>
        <div class="learn-more"><a href="/about" class="button-complete">learn more</a></div>
    </div>
    <div class="fadeInRight wow"><img class="about-img" src="/images/logo.jpg" alt=""></div>
</div>
</section>
<section>
<div class="why-us">
    <h2 class="fadeInRight wow">why Fox Trade</h2>
    <div class="why-grid">
        <div class="why-grid-card fadeInLeft wow">
            <a href=""><i class="fas fa-lock"></i></a>
            <p>highly secured</p>
        </div>
        <div class="why-grid-card fadeInDown wow">
            <a href=""><i class="far fa-arrow-alt-circle-up"></i></a>
            <p>high roi</p>
        </div>
        <div class="why-grid-card fadeInUp wow">
            <a href=""><i class="fas fa-chart-line"></i></a>
            <p>guaranteed returns</p>
        </div>
        <div class="why-grid-card fadeInRight wow">
            <a href=""><i class="fas fa-headset"></i></a>
            <p>24/7 live support</p>
        </div>
    </div>
</div>
</section>
</div>

<section class="plans">
<div class="container">
<h2 class="fadeInDown wow">investment plans</h2>
<div class="plan">
    <div class="plan-card fadeInLeft wow">
        <h4 style="color: silver;">silver</h4>
        <p>14.0% roi(hourly)</p>
        <p>Minimium Investment: $300</p>
        <p>Maximium Investment: $3000</p>
        <p>Trade Duration: 24 hours</p>
        <div class="plan-border" style="background: silver;"></div>
        <% if(!currentUser){ %>
            <a class="button-plan" href="/login" style="background: silver;">deposit</a>
        <% } else { %>
            <a class="button-plan" href="/dashboard/silver" style="background: silver;">deposit</a>
        <% } %>
    </div>

    <div class="plan-card fadeInUp wow">
        <h4 style="color: gold;">gold</h4>
        <p>34.0% roi(hourly)</p>
        <p>Minimium Investment: $3100</p>
        <p>Maximium Investment: $8000</p>
        <p>Trade Duration: 24 hours</p>
        <div class="plan-border" style="background: gold;"></div>
        <% if(!currentUser){ %>
            <a class="button-plan" href="/login" style="background: gold;">deposit</a>
        <% } else { %>
            <a class="button-plan" href="/dashboard/gold" style="background: gold;">deposit</a>
        <% } %>
    </div>

    <div class="plan-card fadeInRight wow">
        <h4 style="color: #2196f3;">diamond</h4>
        <p>60.0% roi(hourly)</p>
        <p>Minimium Investment: $8100</p>
        <p>Maximium Investment: $15000</p>
        <p>Trade Duration: 48 hours</p>
        <div class="plan-border" style="background: #2196f3;"></div>
        <% if(!currentUser){ %>
            <a class="button-plan" href="/login" style="background: #2196f3;">deposit</a>
        <% } else { %>
            <a class="button-plan" href="/dashboard/diamond" style="background: #2196f3;">deposit</a>
        <% } %>
    </div>
</div>
</div>
</section>
<section id="about">
<div class="container">
<h2 class="last-h2 fadeInDown wow">achievements</h2>
<div class="recent">
    <div class="table fadeInLeft wow">
        <span class="button-table deposit" style=" background: #2196f3;">Lastest deposits</span>
        <div class="table-ul">
            <ul class="gray-bg">
                <li><strong>benedykta colombo</strong></li>
                <li>30-04-2020</li>
                <li>$12300</li>
            </ul>
            <ul>
                <li><strong>ian rhodes</strong></li>
                <li>30-04-2020</li>
                <li>$17472</li>
            </ul>
            <ul class="gray-bg">
                <li><strong>julian tobiassen</strong></li>
                <li>30-04-2020</li>
                <li>$24350</li>
            </ul>
            <ul>
                <li><strong>sekani malone</strong></li>
                <li>30-04-2020</li>
                <li>$8346</li>
            </ul>
            <ul class="gray-bg">
                <li><strong>julian tobiassen</strong></li>
                <li>30-04-2020</li>
                <li>$24350</li>
            </ul>
        </div>
    </div>

    <div class="table fadeInRight wow">
        <span class="button-table deposit" style=" background: #000;">Lastest Withdrawals</span>
        <div class="table-ul">
            <ul class="gray-bg">
                <li><strong>benedykta colombo</strong></li>
                <li>30-04-2020</li>
                <li>$12300</li>
            </ul>
            <ul>
                <li><strong>ian rhodes</strong></li>
                <li>30-04-2020</li>
                <li>$17472</li>
            </ul>
            <ul class="gray-bg">
                <li><strong>julian tobiassen</strong></li>
                <li>30-04-2020</li>
                <li>$24350</li>
            </ul>
            <ul>
                <li><strong>sekani malone</strong></li>
                <li>30-04-2020</li>
                <li>$8346</li>
            </ul>
            <ul class="gray-bg">
                <li><strong>julian tobiassen</strong></li>
                <li>30-04-2020</li>
                <li>$24350</li>
            </ul>
        </div>
    </div>
</div>
</div>
</section>
<section class="achievement">
<div class="container">
<div class="achievement-grid">
    <div class="achievement-grid-card fadeInDown wow">
        <span>750</span>
        <p>transactions in last 24 hours</p>
    </div>
    <div class="achievement-grid-card fadeInUp wow">
        <span>387</span>
        <p>professional agents</p>
    </div>
    <div class="achievement-grid-card fadeInDown wow">
        <span>24</span>
        <p>hours support</p>
    </div>
    <div class="achievement-grid-card fadeInUp wow">
        <span>26337</span>
        <p>investors</p>
    </div>
</div>
</div>
</section>
<%- include ("partials/footer") %>

