<%- include ("partials/header") %>
<h3>our policies</h3>
                        <div class="intro-ul">
                            <ul>
                                <li><a class="button-complete href="><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-twitter"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-instagram"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-linkedin"></i></a></li>
                                <li><a class="button-complete href="><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container">
                <section>
                    <div class="about">
                        <div class="about-text tada wow">
                            <h2>Terms and conditions</h2>
                            <p>The entire company's asset website, including the layout and design along with all the content and images are protected by copyright and as such, you are not permitted to reproduce any part of the company's asset without our prior and full approval.</p>
                            <p>In continuing our promise towards investors in assuring their trading is conducted with confidence Crypto Exchange promotes fully transparent trading policy to its stakeholders and investors. We give you all the required trading information you need, including good rates, spreads and leverage, and other benefits of being an investor under our platform. All provided to ensure a safe and comfortable trading experience.</p>
                            <p>In the simplest form, Crypto Exchange platform is a form of speculative futures trading, whereby the payoff is either a pre-agreed amount or nothing at all. This total dual outcome is the reason the term "trading" is used. trading Options can be applied to a broad number of assets, including commodities, stocks, indices and even currency pairs. The main prerequisite required by these assets is that their values fluctuate constantly throughout each trading day. This is important as you never actually buy an asset when you purchase a trading option; you are simply making a speculative investment on an assets behavior over a set period of time. trading options have gained much popularity in recent years, due to their simple up/down nature, the low cost required to participate and the increased return on investment profits (ROI).</p>
                            <p>They are now more accessible and successful than ever, and we provide an incredible opportunity for investors to earn vast profit in a space of one month.</p>
                            <p>The content of this terms of service is for information purposes to guide the stakeholders and investors as they sign up with Crypto Exchange. The terms and conditions of this agreement, and its acceptance of investor’s application to open and have a managed account with Crypto Exchange. This company/platform will maintain one account in customer’s name, and will effect cash settled transaction with and for the customer, and provide such other services and products, as Crypto Exchange platform may.</p>
                            <p>Before you can become an investor under Crypto Exchange, you have to first register yourself, choosing any of the different investment packages/account types we offer. On completion of registration, your account will be verified, and a trader/account manager assigned to you. To start trading with us, the investor must fund his/her account with the minimum deposit of $300, and the maximum deposit of $15,000, which falls under the different investment packages/account types we offer.</p>
                            <p>After period of trade of selected package, investors are eligible for withdrawal or rolling over of their accounts (compounding).</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="about">
                        <div class="about-text">
                            <h2>Licensing and Regulation</h2>
                            <p>Obviously, like any online transaction, if you are going to put your money somewhere, you need to know that it is in safe hands. Any platform where you are financially transacting needs to be licensed and regulated for you to be confident that your money is safe. Each country has its own regulator and rules surrounding regulation and you should always look for the licensing accreditation when you are selecting who to trade with.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="about">
                        <div class="about-text">
                            <h2>Availability</h2>
                            <p>Unless otherwise stated, the services featured on this website are only available all over the world. Anyone can join and use the website service instantly with having registered account.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="about">
                        <div class="about-text">
                            <h2>Customer Service</h2>
                            <p>If something goes wrong, or if you have a question about an element of trading you need to know that there is someone there to help and advise you. There is someone on the end of the phone in trading hours. We offer a high level of customer service.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="about">
                        <div class="about-text">
                            <h2>Mobile Trading</h2>
                            <p>For many, time is a valuable commodity. No longer do people have the time to sit In front of a computer desk all day. They need the flexibility to be able to trade on the move. That is why having a good mobile offering is critical.</p>
                        </div>
                    </div>
                </section>
            </div>
            <%- include ("partials/footer") %>