
/****************************
FIRST BUTTON
****************************/
.button-complete {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    padding: 15px 30px;
    background: #2196f3;
    transition-delay: 1s;
    border-radius: 2px;
}
.button-table {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    padding: 7px 10px;
    transition-delay: 1s;
    border-radius: 2px;
}
.button-main {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    transition: 0.2s;
    border: 1px solid #2196f3;
    cursor: pointer;
}
.button-toggler {
    font-size: 30px;
    border: none;
    transition-delay: 1s;
}
.button-extra {
    padding: 15px 35px;
    background: #2196f3;
    transition-delay: 1s;
}
.button-form {
    padding: 8px 16px;
    background: #2196f3;
    transition-delay: 1s;
    border-radius: 2px;
}
.button-social {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    color: white;
    transition: 0.2s;
    border: 1px solid ;
    cursor: pointer;
    border-radius: 2px;
}
.button-plan {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    padding: 7px 13px;
    transition-delay: 1s;
    border-radius: 2px;
}
.button-main span {
    position: absolute;
    display: block;
}
.button-main span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #2196f3;
}
.button-main:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.button-main span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #2196f3;
}
.button-main:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button-main span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #2196f3;
}
.button-main:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button-main span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #2196f3;
}
.button-main:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
@media (max-width: 824px) {
    .button-complete {
        font-size: 10px;
    }
    .button-social {
        font-size: 10px;
    }
}
@media (max-width: 479px) {
    .button-complete {
        letter-spacing: 2px;
    }
}