legend {
    color: #575962;
}
.hr-form {
    border: 1px solid #2196f3;
    margin: 15px 0;
}
.bg-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background:  rgba(9, 97, 170, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content {
    width: 450px;
    background: white;
    padding: 20px 40px;
}
.close {
    float: right;
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
.form-bg {
    background-image: url(/images/world.svg);
}
.form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}
.form-content {
    width: 450px;
    box-shadow: 0px 0px 2px 2px rgba(9, 97, 170, 0.1);
    background: white;
    padding: 20px 40px;
}
.form-history {
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(9, 97, 170, 0.1);
    background: white;
    padding: 20px 40px;
}
.form-contact {
    width: 70%;
    padding: 20px 40px;
    box-shadow: 0px 0px 2px 2px rgba(9, 97, 170, 0.1);
    background: white;
}
.form-div {
    margin: 20px 0;
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: transparent !important;
    background-image: none;
    border: 1px solid rgba(9, 97, 170, 0.2);
    border-radius: 2px;
}
.form-h4 {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    background-color: transparent !important;
    background-image: none;
    border: 1px solid rgba(9, 97, 170, 0.2);
    border-radius: 2px;
}
.form-p {
    text-transform: capitalize;
    font-size: 1.3rem;
    color:  #575962;
}
.form-contact-control {
    margin: 15px auto;
    display: block;
}
.history-input {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 10px;
}
.main-input {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.modal-img { height: 50px; }
.form-control {
    margin: 15px auto;
    display: block;
    width: 100%;
    color: #2196f3;
}
.form-control label {
    font-size: 14px;
    text-transform: capitalize;
}
.form-control input {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: transparent !important;
    background-image: none;
    border: 1px solid rgba(9, 97, 170, 0.2);
    border-radius: 2px;
}
.form-control textarea {
    display: block;
    width: 100%;
    height: 10rem;
    padding: 6px 12px;
    font-size: 14px;
    background-image: none;
    background: transparent !important;
    border: 1px solid rgba(9, 97, 170, 0.2);
    border-radius: 2px;
}
.form-control select {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(9, 97, 170, 0.2);
    border-radius: 2px;
}
.form-control input[type="file"] {
    display: block;
}
.terms {
    display: block;
    margin: 15px auto;
    width: 100%;
    text-transform: capitalize;
    background-color: transparent !important;
}
.terms a {
    color: #2196f3;
}
.submit-extra {
    text-transform: capitalize;
    border: none;
    background: none;
    color: #2196f3;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: 0;
}
@media (max-width: 779px) {
    .history-input { grid-template-columns: auto; }
}
@media (max-width: 679px) {
    .form-content {
        width: 95%;
        padding: 10px;
    }
    .main-input { grid-template-columns: auto; }
}
@media (max-width: 479px) {
    .form-content h4 {
        font-size: 0.7rem;
    }
    .form-div {
        font-size: 10px;
    }
    .form-p {
        font-size: 1rem;
    }
    .form-control label {
        font-size: 10px;
    }
    .form-control input {
        font-size: 10px;
    }
    .form-control textarea {
        font-size: 10px;
    }
    .form-control select {
        font-size: 10px;
    }
    .submit-extra {
        font-size: 10px;
    }
}